html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  padding-top: 56px;
  margin: 0;
  font-family: "Open Sans","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
.site-header{
  /* position: fixed;
  z-index: 1;
  top: 0;
  background-color: blue; */

}
.site-nav{
  display: flex;
  align-items: center;
  padding: 18px 0;
}
.logo-link{
  margin-right: 320px;
}
.pixer-logo{
  vertical-align: middle;
  width: 59px;
  height: 20px;
}
.sitenav-list{
  display: flex;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  list-style-type: none;
}
.sitenav-list-item{
  position: relative;
  z-index: 1;
}
.sitenav-list-item:hover .dropdown-menu{
  display: block;
}
.sitenav-link{
  display: block;
  padding: 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.sitenav-link::after{
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  content: "";
}
.sitenav-link:hover::after{
  background-color: #191919;

}
.dropdown-menu{
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  display: none;
  width: 124px;
  align-items: flex-start;
  padding: 8px 0px 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.dropdown-menu-link{
  display: block;
  text-decoration: none;
  margin-top: 8px;
  width: 124px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 8px 0 0 16px;
  margin-top: 8px;

}

.dropdown-menu-link:hover{
  color: #FFFFFF;
  background-color: #00BAFC;
}

.phone-number{
  white-space: nowrap;
  text-decoration: none;
  font-weight:bold;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 16px;
  background-color:#00BAFC;
  border-radius: 5px;
  border:3px solid transparent;
}
.phone-number:hover{
  background: #FFFFFF;
  border: 3px solid #00BAFC;
  border-radius: 5px;
  color: #00BAFC;


}
.promo{
  display: flex;
  justify-content: space-between;
  padding: 97px 0 80px 0;
}
.promo-text-wrapper{
  width: 470px;
  display: flex;
  flex-direction: column;
}
.promo-heading{
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}
.promo-text{
  font-size: 16px;
  line-height: 24px;
}
.promo-button{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  background-color:  #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  align-self: flex-start;
}
.promo-youtube{
  width: 458px;
  height: 258px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}
.services{
 padding: 56px 0px 0px;
}
.services-heading{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 16px;
}
.services-text{
  width: 719px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
.services-list{
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -70px;
  margin-right: -200px;
}
.services-list-item{
  margin-bottom: 45px;
  margin-left: 70px;
}

.services-link{
  display: block;
  padding: 24px 24px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 320px;
}
.services-link:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.services-link:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}
.services-link::before{
  display: inline-block;
  width: 203px;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.bgi-website::before{
  background-image: url("../img/website-illustration.png");
}
.bgi-bot::before{
  background-image: url("../img/bot-illustration.png");
}
.bgi-smm::before{
  background-image: url("../img/smm-illustration.png");
}
.bgi-design::before{
  background-image: url("../img/design-illustration.png");
}
.bgi-crm::before{
  background-image: url("../img/crm-illustration.png");
}
.services-inheading{
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}
.services-intext{
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.services-footer{
  display: flex;
  justify-content: space-around;
  align-items:center;

}
.services-button{
  padding: 8px 16px;
  background: #00BAFC;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  margin-left:300x;
}
.services-flink{
  font-size: 16px;
  line-height: 24px;
  color: #00BAFC;

}
.how-we-work{
padding: 56px 0px 0px;
}
.how-we-work-heading{
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}
.how-we-work-text{
  width: 719px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.how-we-work-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.how-we-work-list-item{
  width: 832px;
  display: flex;
  align-items: center;
}
.how-we-work-list-item + .how-we-work-list-item{
  margin-top: 48px;
}
.how-we-work-list-item:nth-child(even){
flex-direction: row-reverse;
}
.how-we-work-list-item::before{
  display: inline-block;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content:"";
}
.bgi-step::before{
  height: 278px;
  background-image: url("../img/step-illlustration.png");
}
.bgi-girl::before{
  height: 225px;
  background-image: url("../img/girl-illlustration.png");
}
.bgi-pc::before{
  height: 258px;
  background-image: url("../img/pc-illustration.png");
}
.bgi-win::before{
  height: 172px;
  background-image: url("../img/win-illustration.png");
}
.bgi-boy::before{
  height: 233px;
  background-image: url("../img/boy-illustration.png");
}
.work-item-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
}
.work-item-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.how-we-work-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 56px;
}
.work-link{
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #00BAFC;
  border-radius: 5px;
}
.form-section{
  background-color: #00BAFC;
  padding: 56px 100px;
}
.form-section-heading{
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;

}
.form-section-text{
  width: 719px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.order-form{
  width: 348px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 5px;

}

.name-input{
  display: inline-block;
  padding: 16px;
  background: #F3F3F3;
  border-radius: 5px;
  border: none;
  color: #000000;
  margin-bottom: 16px;
}

.order-button{
  width: 167px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  background: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: auto;
  margin-left: auto;
}
.site-footer{
  color: #FFFFFF;
  background-color:  #191919;
  padding: 56px 100px;

}
.footer-inbox{
  display: flex;

}
.site-copy-box{
  width: 320px;
margin-right: 100px;
}
.copy-box-heading{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;
}
.copy-box-text{
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}
.footer-nav{
  margin-right: 87px;
}
.footer-nav-heading{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 16px;
}
.footer-nav-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-nav-item + .footer-nav-item{
  margin-top: 8px;
}
.footer-list-link{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}
.socials-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.socials-list-item + .socials-list-item{
margin-top: 8px;
}
.socials-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;

}
.socials-link::before{
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 8px;
  content: "";
}
.telegram::before{
  background-image: url("../img/telegram.svg");
}
.facebook::before{
  background-image: url("../img/facebook.svg");
}
.instagram::before{
  background-image: url("../img/instagram.svg");
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .bgi-website::before{
    background-image: url("../img/website-illustration@2x.png");
  }
  .bgi-bot::before{
    background-image: url("../img/bot-illustration@2x.png");
  }
  .bgi-smm::before{
    background-image: url("../img/smm-illustration@2x.png");
  }
  .bgi-design::before{
    background-image: url("../img/design-illustration@2x.png");
  }
  .bgi-crm::before{
    background-image: url("../img/crm-illustration@2x.png");
  }
  .bgi-step::before{

    background-image: url("../img/step-illlustration@2x.png");
  }
  .bgi-girl::before{

    background-image: url("../img/girl-illlustration@2x.png");
  }
  .bgi-pc::before{

    background-image: url("../img/pc-illustration@2x.png");
  }
  .bgi-win::before{

    background-image: url("../img/win-illustration@2x.png");
  }

  .bgi-boy::before{
    background-image: url("../img/boy-illustration@2x.png");
  }


}